/* reset */
body {
    margin: 0;
}
/* main */
.wrap{
    paddingï¼š 3% 0 0 3%;
}
.square {
    float: left;
    padding: 30% 0 0 0;
    margin: 0 3% 3% 0;
    width: 30%;
    background: orange;
    border-radius: 10px;
}
